@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Body */

body {
  overflow: hidden;
}

body input[type="range"] {
  cursor: grab;
}

body input[type="range"]:active {
  cursor: grabbing;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Assets/viewport-bg.png");
  filter: invert(0);
  z-index: -1;
}

/* Container */

.container {
  display: flex;
}

/* Nav bar */

nav {
  width: 7%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px 0px; */
  position: relative;
  z-index: 5;
}

.filter_type {
  /* border: 2px solid red; */
  padding: 15px;
  margin: 5px 0px;
  border-radius: 12px;
  cursor: pointer;
}

.svg_img {
  /* filter: invert(1); */
  width: 35px;
  height: 35px;
}

.svg_img:hover {
  filter: brightness(0.8) contrast(1.2) sepia(1) hue-rotate(157deg) saturate(10);
}

/* Main Section */

main {
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .import_image_btn {
  width: 45%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px dashed #c9c9c9;
  background-color: white;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

main .import_image_btn:hover {
  background-color: #f1f6ff;
  border: 2px dashed #3478ff;
}

main .import_image_btn:active {
  background-color: #e5eeff;
  border: 2px dashed #1865ff;
}

main .import_image_btn > img {
  width: 60px;
  height: 70px;
}

main .import_image_btn > span {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

main .import_image_btn > button {
  width: 140px;
  height: 46px;
  font-size: 1rem;
  border: none;
  background-color: #1d65f8;
  color: white;
  border-radius: 5px;
}

main .import_image_btn > button:active {
  background-color: #4684ff;
}

/* Aside Section */

aside {
  display: flex;
  width: 22%;
  background-color: rgb(243, 228, 18);
  height: 100vh;
  flex-wrap: wrap;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
}

aside svg {
  width: 40px;
  height: 40px;
  margin: 0px 20px;
  filter: invert(0.5);
}

aside .svg {
  width: 40px;
  height: 40px;
  margin: 0px 20px;
  filter: invert(0.5);
}

/* Aside section part_1 - basics section*/

aside #basics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  background-color: white;
  /* Ex */
  /* display: none; */
}

aside h1 {
  width: 85%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px 0px;
  border-radius: 10px;
  color: white;
  background-color: rgb(255, 102, 0);
  font-weight: 200;
  font-size: 1.3rem;
}

aside .box {
  display: flex;
  align-items: center;
  /* border: 3px solid red; */
  border-bottom: 2px solid gray;
  border-radius: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 85%;
  margin-bottom: 24px;
  padding: 10px 0px;
  color: gray;
  cursor: pointer;
}

aside .box:hover {
  background-color: #01c7f81a;
}

aside .box span {
  margin-left: 5px;
  font-size: 1.3rem;
}

/* Aside section part_2 - text section*/

aside #text {
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* ex */
  /* display: none; */
}

aside #text .box > span {
  padding-left: 20px;
}

/* Aside section part_3 - drawing section*/

aside #drawing {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Ex */
  /* display: none; */
}

/* Aside section part_4 - filter section*/

aside #filter {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside #filter > span {
  /* border: 2px solid red; */
  padding-left: 20px;
}

/* Edit Section */

.Filter_Edit_boxes_section {
  /* border: 2px solid red; */
  width: 200px;
  height: 100vh;
  position: absolute;
  left: 370px;
  z-index: 1;
  padding-top: 90px;
  display: none;
}

.Filter_Edit_boxes_section .edit_box {
  display: flex;
  flex-direction: column;
  background-color: #e8f8f0;
  margin: 10px 0px;
  height: 150px;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  border-radius: 10px;
  display: none;
}

.Filter_Edit_boxes_section .edit_box > section {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.Filter_Edit_boxes_section .edit_box > section > .edit_box_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.Filter_Edit_boxes_section .edit_box > section > .edit_box_div > img {
  width: 20px;
  height: 20px;
}

.Filter_Edit_boxes_section .edit_box > span {
  background-color: black;
  color: white;
  padding: 15px;
  margin-bottom: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Input image view port section */

main .image_src {
  width: 75%;
  height: 100vh;
  position: absolute;
  right: -15px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  /* scrollbar-width: hidden; */
  /* scrollbar-width: none; */
  /* background-color: blue; */
}

main .image_src img {
  width: auto;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.zoom {
  position: absolute;
  z-index: 2;
  top: 92vh;
  right: 30px;
}

.zoom > #zoomRange {
  width: 200px;
}

.reset_and_save_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.reset_and_save_btn > button {
  background-color: rgb(0, 174, 255);
  padding: 8px 13px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.reset_and_save_btn > button:hover {
  background-color: rgb(0, 137, 201);
}

.reset_and_save_btn > button:active {
  background-color: rgb(255, 1, 1);
}
